.modal.fade{id: "note-#{ note.id }", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4= "Note on #{ note.created_at.to_s(:date_time) }"
      .modal-body
        %code= note.content
      .modal-footer
        %button.btn.btn-default{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} Close
