:plain
  $("##{ @modal_id }").modal('hide');
  $('.modal-backdrop').remove();
  $('body').removeClass('modal-open');

  $('#notes').html(
    '#{escape_javascript(
      render partial: "/submission/notes/base",
      locals: { submission: @submission })}'
  );
