.modal.fade{id: "finance-payment-#{finance_payment.id}", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title
          Finance Payment
        .modal-body
          = render partial: "finance/payments/payment", locals: {finance_payment: finance_payment }

