.x_panel
  %h2.x_title Notification Recipient(s)
  .x_content
    %table.table
      %tbody
        %tr
          %td.soft-label.no-top-border Email Recipient:
          %td.no-top-border.applicant-email
            %strong
              = link_to_unless @readonly, submission.applicant_description, "#",
                data: { target: "#edit_applicant", toggle: "modal" }
        %tr
          %td.soft-label Postal Recipient:
          %td.applicant-delivery-address
            %strong
              = link_to_unless @readonly, submission.delivery_address_description, "#",
                data: { target: "#edit_applicant", toggle: "modal" }

