:plain
  if ("#edit_applicant".length > 0) {
    $("#edit_applicant").modal('hide');
    $('body').removeClass('modal-open');
    $('.modal-backdrop').remove();
  }

  var application_info_html = '#{escape_javascript(
              render partial: "/submissions/info/application_info",
              locals: { submission: @submission })}';

  $("#summary").html(application_info_html);
