%h1 Service Processes

%table.table
  %thead
    %th Name
    %th Rules
    %th Activities
    %th Print Templates
  %tbody
    - @services.each do |service|
      %tr
        %td.service-name= service.name
        %td.rules
          - service.rules.each do |rule|
            %p= rule.humanize
        %td.activities
          - service.activities.each do |activity|
            %p= activity.humanize
        %td.print-templates
          - service.print_templates.each do |print_template|
            %p= print_template.humanize

