.modal.fade{id: "approve-application", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      = form_tag approve_submission_states_path(submission) do |f|
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title Register Vessel and Issue Certificate of Registry
        .modal-body
          .row
            .col-md-12
              .form-group
                %label Date and Time to take effect from
                = text_field_tag :registration_starts_at, Time.now, class: "form-control datetimepicker"
          .row
            .col-md-12
              .form-group
                %label
                  %input{name: "notification_attachments", value: "registration_certificate", type: "checkbox"}
                  Send a copy of the Certificate of Registry to owner


        .modal-footer
          = submit_tag "Register Vessel", class: "btn btn-success btn-lg"
