.modal.fade{id: "reject-application", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      = simple_form_for Notification.new, url: reject_notification_path(submission) do |f|
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title Reject Application
        .modal-body
          %p Rejecting this application will create a task for your manager to approve a refund.
          %hr
          .row
            .col-sm-12
              .form-group
                = f.input :subject, as: :select, label: "Reason for Rejection",
                  collection: Notification::Rejection::REASONS.map{|r| [r.to_s.humanize,r.to_s]},
                  include_blank: false
          .row
            .col-sm-12
              .form-group
                = render partial: "shared/fields/message_editor",
                  locals: { f: f, message_type: :reject }
        .modal-footer
          = f.submit "Reject Application", class: "btn btn-lg btn-danger"
