- @finance_payment = Decorators::FinancePayment.new(@finance_payment)
%h1= @finance_payment.page_heading

.row
  .col-md-6
    = render partial: "finance_payment", locals: { finance_payment: @finance_payment }

= render partial: "actions"
