%h1= @finance_payment.page_heading

.row
  .col-md-6
    #finance_info.x_panel
      .x_content
        = render partial: "finance/payments/payment", locals: {finance_payment: @finance_payment } 
        = link_to "#edit-finance-payment",
          "data-target" => "#edit-finance-payment",
          "data-toggle" => "modal",
          class: "btn btn-xs btn-info" do
          Edit Finance Payment
#actions
  - if @linkable_submission
    Link to an Open Application
    //= render partial: "actions/linkable_submission", locals: { finance_payment: @finance_payment, linkable_submission: @linkable_submission}
  - else
    Start a New Application
    //= render partial: "actions/convertible_submission", locals: { submission: @submission }

= render partial: "finance_payments/modals/edit_finance_payment", locals: { finance_payment: @finance_payment }          
