= render partial: "submissions/info/breadcrumbs", locals: {submission: @submission}
= render partial: "submissions/info/heading", locals: {submission: @submission}

.x_panel
  .x_content
    .row
      .col-md-12
        %h4 The application has been moved to #{Activity.new(@submission.part)} of the Registry
