.row
  %div
    %ul#searchResults.nav.nav-tabs.bar_tabs{:role => "tablist"}
      %li.active
        %a#vessels-tab{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#vessels_tab", :role => "tab"} Registry (#{@vessels.count})

      %li
        %a#submissions-tab{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#submissions_tab", :role => "tab"} Applications (#{@submissions.count})


    %ul#searchResultsTab.tab-content
      #vessels_tab.tab-pane.fade.active.in
        .col-md-11
          = render partial: "/search/vessels", locals: { vessels: @vessels }

      #submissions_tab.tab-pane.fade
        .col-md-11
          = render partial: "/search/submissions", locals: { submissions: @submissions }
