- submission = Decorators::Submission.new(searchable)
%tr.submission
  %td
    = link_to submission.vessel_name, submission_path(submission)
    %br
    Application Reference: #{submission.ref_no}
    %br
    Callsign: #{submission.radio_call_sign}, MMSI: #{submission.mmsi_number}
  %td
    %span.label.label-primary APPLICATION
