Thank you for your application to change the owner address details for  #{@vessel_name} on Part III of the UK Ship Register. Your application may take up to 20 days to process. Please make a note of the Application Reference No detailed below:
\
Application Reference No: #{@submission_ref_no}
\
When your address details have been updated, we will confirm this to you by email.
\
If you do not receive an email within 20 days of today's date, please contact #{contact_us}
\
Please quote the Application Reference No. listed above in all correspondence.
