%p
  Thank you for your application to close the registration of #{@vessel_name} on Part III of the UK Ship Register.
  - if @declarations_required
    Please note that your application will not be processed until all declarations have been received.
  Your application may take up to 20 days to process. Please make a note of the Application Reference No detailed below:

%p  Application Reference No: #{@submission_ref_no}

%p To confirm closure, we will send a Transcript of Closed Registry either by first class mail, or by email, to the address requested in the application.

%p If you do not receive a Transcript of Closed Registry within 20 days of today's date, please contact #{contact_us}


%p Please quote the Application Reference No. listed above in all correspondence.
