Thank you for your application to register the vessel #{@vessel_name} on Part III of the UK Ship Register.
- if @declarations_required
  As soon as all declarations have been received and the name has been approved, the application will be processed.
Please be aware that your application may take up to 20 days to process. Please make a note of the Application Reference No detailed below:

\
Application Reference No: #{@submission_ref_no}

\
Please note an SSR number will not be generated until your application has been assessed and approved.

\
If your application is successful, a Certificate of British Registry will be sent by first class mail, to the address requested in the application.

\
If you do not receive a Certificate of British Registry within 20 days of today's date, please contact the SSR team at: ssr.registry@mcga.gov.uk

\
Please quote the Application Reference No. listed above in all correspondence.
