%p Thank you for your application for a Historic Transcript of Registry for the vessel #{@vessel_name} on #{part_of_register}. Your application may take up to 3 days to process. Please make a note of the Application Reference No detailed below:

%p Application Reference No: #{@submission_ref_no}

%p We will send a Historic Transcript of Registry either by first class mail, or by email, to the address requested in the application.

%p If you do not receive a Historic Transcript of Registry within 10 days of today's date, please contact #{contact_us}

%p Please quote the Application Reference No. listed above in all correspondence.
