- submission = Decorators::Submission.new(submission)
.row
  .col-md-9
    %h1{style: "margin-top: 0px !important;"}
      = submission.job_type

      ID:
      = submission.ref_no || "Not yet generated"
  .col-md-3.pull-right
    - if display_edit_application_link?(submission)
      = link_to "Edit Application",
        edit_submission_path(submission),
        class: "btn btn-primary pull-right"
