.col-md-3
  %h5.official-no
    Official No:
    - if submission.vessel_reg_no.present?
      = link_to submission.vessel_reg_no, vessel_path(submission.registered_vessel)
    - elsif Policies::Workflow.generate_official_no?(submission)
      - unless @readonly
        = render partial: "submissions/actions/generate_official_no"
- if display_ec_no?(submission)
  .col-md-3
    %h5#ec-no
      EC No:
      - if submission.vessel.ec_no.present?
        = submission.vessel.ec_no
      - elsif submission.vessel_reg_no.present?
        GBR000#{submission.vessel_reg_no}
