.col-md-3
  %h5.official-no
    Official No:
    - if submission.vessel_reg_no.present?
      = link_to submission.vessel_reg_no, vessel_path(submission.registered_vessel)
    - elsif Policies::Workflow.generate_official_no?(submission, current_user)
      - unless @readonly
        = render partial: "submissions/actions/generate_official_no"
    - else
      Not yet generated
- if display_ec_no?(submission)
  .col-md-3
    %h5#ec-no
      EC No:
      - if submission.vessel_ec_no.present?
        = submission.vessel_ec_no
      - else
        Not yet generated
