- submission = Decorators::Submission.new(submission)
.row
  .col-md-4
    #summary
      = render partial: "submissions/info/application_info",
               locals: { submission: submission }

  .col-md-8
    #submission_tasks
      = render partial: "submission/tasks/panel",
        locals:  { submission: submission }
