- submission = Decorators::Submission.new(submission)
.row
  .col-md-4
    #summary
      = render partial: "submissions/info/application_info",
               locals: { submission: submission }

  .col-md-8
    #fees
      = render partial: "submissions/info/fees",
        locals:  { submission: submission }
