.x_panel#application-tools
  %h2.x_title
    Application Tools
  .x_content
    - PrintJob.where(submission: @submission).each do |print_job|
      = link_to print_job_path(print_job, format: :pdf),
        target: "_blank", class: "btn btn-warning" do
        %i.fa.fa-print{style: "font-size: 1.2em;"}
        = t("print_job.button_text.#{print_job.template}")
