- if f.object.new_record?
  = owner_f.input :name, label: "Owner Name", input_html: { class: "upcase owner-name"}
- else
  = owner_f.input :name, label: "Owner Name", input_html: { class: "upcase owner-name"},
    disabled: true
  = owner_f.input :name, as: :hidden
