.row
  .col-md-6
    %h1.heading_no_top_margin
      = heading
  .col-md-6
    .pull-right
      = link_to tasks_next_task_path, class: 'btn btn-primary' do
        %i.fa.fa-arrow-circle-right{style: 'font-size: 1.2em; font-weight: bold;'}
        Process Next Task
