= link_to "#start-new-application",
  data: { target: "#start-new-application", toggle: "modal" },
  class: 'btn btn-success' do
  %i.fa.fa-plus{style: 'font-size: 1.2em; font-weight: bold;'}
  Start a New Application

.modal.fade{id: "start-new-application", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Start a New Application
      .modal-body
        %p= link_to "New Registration", new_submission_path,
            target: "_blank",
            class: "btn btn-block btn-success"
