%table.table.table-striped#agent
  %thead
    %th Name
    %th Email
    %th Phone number
    %th Address
  - if agent
    %tbody
      %tr
        %td.agent-name
          %strong= agent.name
        %td
          %strong= agent.email
        %td
          %strong= agent.phone_number
        %td
          %strong= agent.inline_address
