.nested-fields
  .row
    .col-md-3
      = mortgagee_f.input :name, label: "Name of Mortgagee", input_html: { class: "upcase" }
    .col-md-4
      = mortgagee_f.input :address, label: "Address of Mortgagee", input_html: { class: "upcase" }
    .col-md-3
      = mortgagee_f.input :contact_details, label: "Contact Details of Mortgagee", input_html: { class: "upcase" }
    .col-md-2

