:plain
  if ("#{ @modal_id }".length > 0) {
    $("##{ @modal_id }").modal('hide');
    $('.modal-backdrop').remove();
    $('body').removeClass('modal-open');
  }

  $("#mortgages").html(
    '#{escape_javascript(
       render partial: "/submissions/extended/forms/mortgages/base")}'
  );

  $('.datetimepicker').datetimepicker({
    format: 'DD/MM/YYYY, h:mm:ss a'
  });

  $('.datepicker').datepicker({
    format: 'dd/mm/yyyy',
    autoclose: true
  });

  initMortgageForm();
