.row
  .col-md-3
    = charterer_f.input :reference_number, label: "Reference Number"
  .col-md-2
    = charterer_f.input :start_date, as: :string, label: "Start Date", input_html: { "data-provide" => "datepicker", "data-date-autoclose" => "true", "data-date-format" => "dd/mm/yyyy"}
  .col-md-2
    = charterer_f.input :end_date, as: :string, label: "End Date", input_html: { "data-provide" => "datepicker", "data-date-autoclose" => "true", "data-date-format" => "dd/mm/yyyy"}
