:plain
  if ("#{ @modal_id }".length > 0) {
    $("##{ @modal_id }").modal('hide');
    $('.modal-backdrop').remove();
    $('body').removeClass('modal-open');
  }

  $("#managers").html(
    '#{escape_javascript(
       render partial: "/submissions/extended/forms/managers/base")}'
  );
