%table.table.table-striped#history
  %thead
    %th Date
    %th Activity
    %th Officer
  %tbody
    - @submission.work_logs.each do |work_log|
      %tr
        %td= work_log.created_at.in_time_zone.to_s(:date_time)
        %td= work_log.description.humanize
        %td= work_log.actioned_by
    %tr
      %td= @submission.created_at.in_time_zone.to_s(:date_time)
      %td Application started
      %td
