%table.table.table-striped
  %thead
    %th Supporting Info
    %th
  %tbody
    - @closure = @submission.closure
    - if @closure.reason.present?
      %tr
        %td Closure reason
        %td.closure-reason= @closure.reason.humanize
    - if @closure.actioned_at.present?
      %tr
        %td Date
        %td.closure-actioned_at= @closure.actioned_at
    - if @closure.destruction_method.present?
      %tr
        %td Destruction method
        %td.closure-destruction_method= @closure.destruction_method

