%table.table.table-striped#work_logs
  %thead
    %th Date
    %th Task
    %th Activity
    %th Officer
    %th
  %tbody
    - @submission.work_logs.each do |work_log|
      - work_log = Decorators::WorkLog.new(work_log)
      %tr
        %td= work_log.date_recorded
        %td.title= work_log.title
        %td.description= work_log.description.humanize
        %td= work_log.actioned_by
