.row
  .col-md-6
    %h1.heading_no_top_margin
      Work Logs

%table.table.table-striped#work_logs
  %thead
    %th Date
    %th Part of the Registry
    %th Application
    %th Task
    %th Activity
    %th Officer
    %th
  %tbody
    = render partial: "work_logs/work_log", collection: @work_logs

= will_paginate @work_logs, renderer: BootstrapPagination::Rails
