Thank you for your application to register your vessel on the UK Small Ships Register. Your application has been approved and the official number allocated to your vessel is #{ @reg_no }.
\
You will receive a certificate of registration with a covering letter by mail to your delivery address in due course.
\
- if @unimplemented
  \
  Please find a copy of your registration certificate attached, as requested.
