Thank you for your application to register the vessel [name] on Part III of the UK Ship Register. As soon as all declarations have been received and the name has been approved, the application will be processed. Please be aware that your application may take up to 20 days to process. Please make a note of the Transaction and Application reference No's detailed below:
\
Merchant Cart ID: #{@world_pay_transaction_no}
\
Application Reference No: #{@submission_ref_no}
\
Please note an SSR number will not be generated until your application has been assessed and approved. If your application is successful, a Certificate of British Registry will be sent by first class mail to the residential address of the person you have named as Owner 1 unless a different delivery address was requested in the Additional Notes section of the application.
\
If you do not receive a Certificate of British Registry within 20 days of today's date, please contact the SSR team at: ssr.registry@mcga.gov.uk
\
Please quote the Merchant Cart ID and Application Reference No. listed above in all correspondence.
\
You may find the following links useful.
\
Beacon Registry:
https://www.gov.uk/maritime-safety-weather-and-navigation/register-406-mhz-beacons
\
Coastguard safety scheme registration:
https://mcanet.mcga.gov.uk/public/cg66/
\
RSS Customer survey:
http://www.smartsurvey.co.uk/s/140065DZMRS
