%p.hello
  Dear #{ @name },

%p
  Thank you for your application to register your vessel on Part III of the UK Ship Register. As per your request, we have cancelled the submission. A refund will be processed shortly and you will be notified when it has been issued.
