Further to your application to register your vessel, please find enclosed the Carving and Marking Note in this respect.  Please arrange for the MCA surveyor or Classification Society surveyor to certify that the Carving and Markings are correct, and return the form to this office.  Regulation 35 of the Merchant Shipping (Registration of Ships) Regulations 1993 states that a carving and marking note should be returned to the Registrar within three months.
\
We also require the certificate of survey for tonnage and measurement and ITC 69 which is also issued by MCA or classification society surveyor.
\
Additionally we also require the UKFVC issued by a MCA surveyor.
