%p{ class: "hello" } REF: CARVING AND MARKING REMINDER

%p Please be advised that the Carving & Marking note for the vessel #{@vessel_name} with official number #{@reg_no} is to be completed and returned to us by #{Date.today}.

%p When submitting the notice, you should ensure that any other outstanding documents are sent in with it.

%p If you have any queries regarding this, please do not hesitate to contact us.
