REF: CODING EXPIRY
\
Please be advised that the coding certificate for the vessel #{@vessel_name} with official number #{@reg_no} is due to expire.
\
In order to ensure that your vessel remains registered for commercial use, please provide a copy of a
new coding certificate to comm.registry@mcga.gov.uk.
\
If you have any questions regarding this please do not hesitate to contact us.
