%p{ class: "hello" } REF: CODING EXPIRY

%p Please be advised that the coding certificate for the vessel #{@vessel_name} with official number #{@reg_no} is due to expire.

%p In order to ensure that your vessel remains registered for commercial use, please provide a copy of a new coding certificate to <a href="mailto:comm.registry@mcga.gov.uk">comm.registry@mcga.gov.uk</a>.

%p If you have any questions regarding this please do not hesitate to contact us.
