Thank you for your application to register your vessel on #{part_of_register}.
\
Please be advised that the name #{@vessel_name} has been reserved in the port of #{@port_name} for 3 months.
\
For us to issue the Carving and Marking Note we require the following:
\
1. Declaration of Eligibility
2. An original Bill of Sale/ Sale document
3. a. If under a year Seafish Construction Certiifcate.
b. If over a year Seafish inspection report.
4. A copy of the Certificate of Incorpration
5. Deletion Certificate
\
Please submit the above documemts to: UK Ship Register, Anchor Court, Keen Road, Cardiff, CF24 5JW.
