%p Thank you for your application to register your vessel on #{part_of_register}.

%p Please be advised that the name #{@vessel_name} has been reserved in the port of #{@port_name} for 3 months.

%p For us to issue the Carving and Marking Note we require the following:

%p
  %ol
    %li Declaration of Eligibility
    %li An original Bill of Sale/ Sale document
    %li
      a. If under a year Seafish Construction Certiifcate.
      %br
      b. If over a year Seafish inspection report.
    %li A copy of the Certificate of Incorpration
    %li Deletion Certificate

%p Please submit the above documemts to: UK Ship Register, Anchor Court, Keen Road, Cardiff, CF24 5JW.
