%p
  Please be advised that an application has been made by #{@applicant_name} to register a vessel with the name #{@vessel_name} on the Part III of the UK Ship Register. As part of the registration process all owners must confirm eligibility by completing a declaration using the link below.

%p
  %a{:href => "#{ @declaration_url }"}Click here to sign the declaration

%p
  Alternatively, you can copy and paste the link into the address bar of your web browser

%p= @declaration_url

%p
  Only when all owner declarations have been received, will the application be processed.
