Please be advised that an application has been made by #{@correspondent_name} to register a vessel with the name #{@vessel_name} on the #{part_of_register}. As part of the registration process all owners must confirm eligibility by completing a declaration using the link below.
\
Visit this link to sign the declaration:
= @declaration_url
\
Only when all owner declarations have been received, will the application be processed.
