Dear #{ @name },
\
Please be advised that an application has been made by xxxxx to register a vessel with the name xxxx on the Part III of the UK Ship Register. As part of the registration process all owners must confirm eligibility by completing a declaration using the link below.
\
Visit this link to sign the declaration:
= @declaration_url
\
Only when all owner declarations have been received, will the application be processed.
