Thank you for submitting an online application to register your vessel on the Small Ships Register.
\
Your application has been referred for the following reason:
= :hull_identification_number_appears_incorrect.to_s.humanize
