%p
  Thank you for submitting an online application to register your vessel on the Small Ships Register.

%p
  Your application has been referred for the following reason:
  = :unknown_vessel_type.to_s.humanize
  \.
