Thank you for submitting an online application to register your vessel on the Small Ships Register.
\
Your application has been referred for the following reason:
= :length_and_vessel_type_do_not_match.to_s.humanize
