%p
  Thank you for your application to register your vessel on Part III of the UK Ship Register. Unfortunately the name you have chosen for your vessel is not suitable for registration purposes, as it may be deemed offensive. Please provide a list of alternative names in order of preference.
