%p We note that your certificate of British Registry is due to expire on #{@registered_until}.

%p As you are now within three months of expiry, you may apply to renew your ship's registration, notifying us of any details that have changed.

%p Renewal of registration can be completed online by heading to our webpage: https://www.gov.uk/government/organisations/maritime-and-coastguard-agency

%p If any details have changed, then you must notify us in writing by email or post.

%p Further information can be found on our GOV.UK website at: http://www.gov.uk/register-a-boat/the-uk-ship-register/

%p If you have any questions please do not hesitate to contact us.
