%p{ class: "hello" } REF: SAFETY EXPIRY

%p Please be advised that the safety certificate for the vessel #{@vessel_name} with official number #{@reg_no} is due to expire.

%p In order to ensure that your vessel remains registered please provide a copy of a new safety certificate to <a href="mailto:fishing.registry@mcga.gov.uk">fishing.registry@mcga.gov.uk</a>.


%p If you have any questions regarding this please do not hesitate to contact us.
