REF: SAFETY EXPIRY
\
Please be advised that the safety certificate for the vessel #{@vessel_name} with official number #{@reg_no} is due to expire.
\
In order to ensure that your vessel remains registered please provide a copy of a new safety certificate to fishing.registry@mcga.gov.uk.

\
If you have any questions regarding this please do not hesitate to contact us.
