.row
  .col-md-6
    %h1{style: "margin-top: 0px !important;"}
      Finance: Fee Entry
    %h5 Start Date:  #{@batch.starts_at.to_s(:date_time)}
  .col-md-6
    %h4 Batch: #{@batch.batch_no}
    %h4 Officer: #{@batch.started_by}

