= render partial: "/finance/payments/heading"

= simple_form_for @finance_payment, url: finance_batch_payments_path(@batch) do |f|
  = render partial: "form", locals: { f: f }

  .row.no-print
  .col-xs-12
    = button_tag(type: 'submit', class: "btn-success btn-lg pull-right") do
      %i.fa.fa-check
      Save Fee Entry
