%h1 Finance: Fees Entered
.row
  .col-md-12
    .x_panel
      .x_content
        - if @prompt_success
          .alert.alert-success
            %p.text-center{style: 'font-size: 1.4em;'}
              Fee entry successfully recorded.

        = render partial: "payment", locals: { finance_payment: @finance_payment }

.row.no-print
  .col-xs-12
    = link_to new_finance_payment_path, class: 'btn btn-success btn-lg pull-right' do
      %i.fa.fa-plus
      New Fee Entry
