:plain
  if ("#{ @modal_id }".length > 0) {
    $("##{ @modal_id }").modal('hide');
    $('body').removeClass('modal-open');
    $('.modal-backdrop').remove();
  }

  var owners_list_html = '#{escape_javascript(
              render :partial => "/submissions/extended/forms/owners/base")}';

  var owners_modals_html = '#{escape_javascript(
              render :partial => "/submissions/extended/forms/owners/modals")}';

  $("#owners_list").html(owners_list_html);
  $("#owners_modals").html(owners_modals_html);
