= submission_f.simple_fields_for :declarations do |declaration_f|
  = render partial: "submissions/forms/declaration_fields", locals: { f: declaration_f }

%div
  = link_to_add_association submission_f,
    :declarations,
    class: "btn btn-primary",
    partial: "submissions/forms/declaration_fields" do

    %i.fa.fa-plus
    Add Individual Owner
