:plain
  $("#edit_agent_modal").modal('hide');
  $('body').removeClass('modal-open');
  $('.modal-backdrop').remove();

  var agent_list_html = '#{escape_javascript(
              render partial: "/submissions/basic/forms/agent/list")}';

  var agent_modal_html = '#{escape_javascript(
              render partial: "/submissions/basic/forms/agent/modal")}';

  $("#agent_list").html(agent_list_html);
  $("#agent_modal").html(agent_modal_html);
