.modal.fade{id: 'take-action', role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Take Action
      .modal-body
        %p= link_to "Print Certificate of Registry",
            vessel_registration_certificate_path(vessel, format: :pdf),
            target: "_blank",
            class: "btn btn-block btn-success"
        %p= link_to "Print Current Transcript",
            vessel_current_transcript_path(vessel, format: :pdf),
            target: "_blank",
            class: "btn btn-block btn-primary"
        %p= link_to "Print Historic Transcript",
            vessel_historic_transcript_path(vessel, format: :pdf),
            target: "_blank",
            class: "btn btn-block btn-info"
