.row
  .col-md-12
    .x_panel
      .x_title
        %h4 Edit Submission Details
        .clearfix
      .x_content
        .row
          .col-md-3
            = f.input :task, collection: current_activity.task_types, as: :select, include_blank: false, input_html: { class: "select2 select2_single" }
          .col-md-3
            = f.input :vessel_reg_no

          .col-md-3
.row.no-print
.col-md-12
  = button_tag(type: 'submit', class: "btn btn-primary btn-lg pull-right") do
    %i.fa.fa-check
    Save Application
