= render partial: "submissions/info/breadcrumbs", locals: {submission: @submission}
= render partial: "submissions/info/heading", locals: {submission: @submission}

- if @linkable_submission
  = render partial: "linkable_submission", locals: {submission: @submission, linkable_submission: @linkable_submission}
- else
  = render partial: "convertible_submission", locals: {submission: @submission}
