= render partial: "submissions/info/breadcrumbs", locals: {submission: @submission}
= render partial: "submissions/info/heading", locals: {submission: @submission}

= simple_form_for @submission, url: manual_entry_path do |f|
  = render partial: "fields", locals: { f: f }
