.row
  .col-sm-12
    = render partial: "submissions/breadcrumbs", locals: {submission: @submission}
    = render partial: "submissions/heading", locals: {submission: @submission}

= simple_form_for @submission, url: manual_entry_path do |f|
  = render partial: "fields", locals: { f: f }
