- if registration_status == :registered
  .label.label-success Registered

- elsif registration_status == :expired
  .label.label-default Registration Expired

- elsif registration_status == :closed
  .label.label-warning Registration Closed

- elsif registration_status == :pending
  .label.label-info Not Registered

- elsif registration_status == :frozen
  .label.label-danger Frozen
