#wrapper
  #login.animate.form
    %section.login_content
      %form
        %h1 Login to Waves
        %input.form-control{:placeholder => "Username", :required => "", :type => "text"}/
        %input.form-control{:placeholder => "Password", :required => "", :type => "password"}/
        %a.btn.btn-success.btn-block.submit{href: "/"} Secure Login
        .separator
        %p
          %a{href: "#"} Forgotten password?
        %p &copy; 2016 All Rights Reserved.
