<div class="text-center pull-down">
  <h1>Vessel Registration System</h1>
  <p class="lead">
    <br>
    <br>
    Welcome to VRS!
    <br>
    Log in using the form on the top right dropdown, or click <%= link_to 'here', prerequisites_path %> to use the public facing form.
  </p>
</div>
