<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      <span class="heading-secondary"><%= t("mca.title") %></span>
      <%= title %>
    </h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <a class="button button-start" href="#" role="button">Start now</a>
  </div>
</div>
