<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      <span class="heading-secondary"><%= t("mca.title") %></span>
      <%= title %>
    </h1>

    <a
      class="button button-start"
      href="<%= prerequisites_path %>"
      role="button">
      Start now
    </a>
  </div>
</div>
