.grid-row
  .column-two-thirds
    %h1.heading-xlarge
      %span.heading-secondary= t("mca.title")
      = title
    %a.button.button-start{:href => prerequisites_path, :role => "button"}
      Start now
