- if @submission.claimant == current_user
  = render partial: 'submissions/actions/assigned', locals: {submission: @submission}
- elsif @submission.rejected?
  = render partial: 'submissions/actions/rejected', locals: {submission: @submission}


