- i = owner_counter + 1
%table.table.table-striped{ id: "owner_#{ i }"}
  %thead
    %th Owner ##{ i }
    %th
      - if i == 1
        Submitted Information
  %tbody
    %tr
      %td{width: '30%'} Owner Name
      %td.owner-name{width: '70%'}
        %a{"data-placement" => "bottom", "data-title" => "Owner Name", "data-type" => "text", :href => "#"}
          %strong= owner
    %tr
      %td Owner Address
      %td
        %a#owner-address{"data-placement" => "bottom", "data-title" => "Owner Address", "data-type" => "text", :href => "#"}
          %strong= owner.inline_address
    %tr
      %td Declaration
      %td.declaration
        - if @submission.declared_by?(owner.email)
          %i.fa.fa-check
          %strong Completed online

%hr
