- if payment
  %table.table.table-striped#payment
    %tbody
      %tr
        %td{width: '30%'} Worldpay Order Code
        %td= payment.wp_order_code
      %tr
        %td Registered Country of Credit Card
        %td= payment.wp_country
      %tr
        %td IP address of Submission
        %td= payment.customer_ip
      %tr
        %td Amount
        %td
          £
          = number_with_precision(payment.wp_amount.to_f / 100, precision: 2)
