- if params[:email_certificate_of_registry]
  The vessel owner has been notified via email that their vessel is now registered on Part III of the UK Ship Register.
- else
  The vessel is now registered on Part III of the UK Ship Register.
