= render partial: "submissions/info/base", locals: { submission: @submission, task: @task }
= render partial: "submissions/#{Activity.new(@submission.part).view_mode}/edit",
  locals: { submission: @submission }
