= render partial: "submissions/info/breadcrumbs", locals: {submission: @submission}
.row
  .col-sm-6
    = render partial: "submissions/info/heading", locals: {submission: @submission}

= render partial: "submissions/forms/base", locals: { submission: @submission }
