.row
  .col-sm-6
    %h1{style: "margin-top: 0px !important;"}
      Document Entry

= simple_form_for @submission do |f|
  = f.input :part, as: :hidden
  .row
    .col-md-12
      .x_panel
        .x_content
          = render partial: "fields", locals: { f: f }
  .row.no-print
    .col-md-12
      = button_tag(type: 'submit', class: "btn btn-success btn-lg pull-right") do
        %i.fa.fa-check
        Save Application

