%hr
.row
  .col-md-2
    = render partial: "/submissions/extended/forms/correspondent/correspondent"

  - if display_extended_owners?(@submission)
    .col-md-2
      .managing_owner
        = render partial: "/submissions/extended/forms/correspondent/managing_owner"
