:plain
  if ("#{ @modal_id }".length > 0) {
    $("##{ @modal_id }").modal('hide');
    $('body').removeClass('modal-open');
    $('.modal-backdrop').remove();
  }

  $("#correspondent").html(
    '#{escape_javascript(
       render partial: "/submissions/extended/forms/correspondent/base")}'
  );
