= simple_form_for :csr_form,
                  url: submission_csr_path(@submission, task_id: @task.id),
                  remote: true,
                  method: :put do |f|
  = render partial: "/csrs/fields", locals: { f: f }
