.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4.modal-title
    Task:
    = task.service
.modal-body
  #task-validation-errors
    %h5 The following errors prevent this task from being completed:
    %ul
      = render partial: "submission/tasks/modals/validation_error", collection: validation_errors, as: :validation_error, locals: { submission: submission, task: task }
