.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4.modal-title
    Task:
    = task.service
.modal-body#task-validation-errors
  %h5 The following errors prevent this task from being completed:
  - validation_errors.each do |validation_error|
    .red= validation_error.to_s.humanize
    %br
