Thank you for your application to #{action_text} of the vessel #{@vessel_name} on Part III of the UK Ship Register.
\
Your application has been completed.
\
You will receive a Certificate of British Registry with covering letter sent by first class mail to the address requested in the application.
\
- if @attachment
  Please find attached a copy of your certificate.
  \
If you do not receive a Certificate of British Registry within 7 days of today's date, please contact the SSR team at: ssr.registry@mcga.gov.uk
\
Please quote the Application Reference No. listed above in all correspondence.
