%p This email confirms completion of your recent application to change the owner address details for the vessel #{@vessel_name} with official number #{@reg_no} on Part III of the UK Ship Register.

%p If you require any further information or assistance, please contact us at ssr.registry@mcga.gov.uk.
