%p This email confirms completion of your recent application to change the owner address details for the vessel #{@vessel_name} with official number #{@reg_no} on #{part_of_register}.

%p If you require any further information or assistance, please contact us at #{contact_us_for_part}.
