Further to your recent application, we can confirm that the vessel #{@vessel_name} with official number #{@reg_no} has been closed on Part III of the UK Ship Register.
\
- if @attachment
  Please find attached a Closed Transcript of British Registry confirming the closure of registration.
- else
  The Closed Transcript of British Registry has been posted by first class mail, to the address requested in your application.
\
If you require any further information or assistance, please contact us at ssr.registry@mcga.gov.uk.
