- if @attachment
  %p Further to your recent application, please find attached a historic Transcript of British Registry, for the vessel #{@vessel_name} with official number #{@reg_no}.
- else
  %p Further to your recent application for a historic Transcript of British Registry for the vessel #{@vessel_name} with official number #{@reg_no}.

  %p The historic Transcript of British Registry has been posted by first class mail, to the address requested in your application.

%p If you require any further information or assistance, please contact us at ssr.registry@mcga.gov.uk.
