Further to your recent application, please find attached a current Transcript of British Registry, for the vessel #{@vessel_name} with official number #{@reg_no}.
\
- if @attachment
  Please find attached a Current Transcript of British Registry confirming the closure of registration.
- else
  The Current Transcript of British Registry has been posted by first class mail, to the address requested in your application.
\
If you require any further information or assistance, please contact us at ssr.registry@mcga.gov.uk.
