Further to your recent application, we can confirm that the mortgage has been updated for the vessel #{@vessel_name} with official number #{@reg_no} on #{part_of_register}.
\
If you require any further information or assistance, please contact us at #{contact_us_for_part}.
