%p
  Thank you for your application to register your vessel on the UK Small Ships Register. Your application has been approved and the official number allocated to your vessel is #{ @reg_no }.
%p
  You will receive a Certificate of British Registry with covering letter sent by first class mail to the address requested in the application.

- if @attachment
  %p Please find attached a copy of your certificate.

%p If you do not receive a Certificate of British Registry within 7 days of today's date, please contact the SSR team at: ssr.registry@mcga.gov.uk

%p Please quote the Application Reference No. listed above in all correspondence.
