%p
  Thank you for your application to register the vessel #{@vessel_name} on #{part_of_register}.

%p Your application has been approved.

%p
  You will receive a Certificate of UK Registry with covering letter sent by first class mail to the address requested in the application.

- if @attachment
  %p Please find attached a copy of your certificate.

%p If you do not receive a Certificate of UK Registry within 7 days of today's date, please contact #{contact_us_for_part}
