- @submission.declarations.each do |declaration|
  = render partial: "submissions/part_3/forms/owners/edit",
           locals: { declaration: declaration, modal_id:  "declaration_#{declaration.id}" }
= render partial: "submissions/part_3/forms/owners/new", locals: { modal_id:  "new_declaration" }
