%table.table.table-striped#history
  %thead
    %th Date
    %th Activity
    %th Officer
  %tbody
    %tr
      %td= @submission.created_at.in_time_zone.to_s(:date_time)
      %td Application started
      %td
    - @submission.work_logs.each do |activity|
      %tr
        %td= activity.created_at.in_time_zone.to_s(:date_time)
        %td= activity.description.humanize
        %td= activity.actioned_by
