.form-group
  .row
    .col-md-2
      %label{ for: "filter_part" } Part of Register
    .col-md-2
      = select :filter, :part, [["All Parts", ""]] + parts_collection,
        { include_blank: false, selected: filter[:part] },
        class: "form-control"
