%hr
#total_shares
  = render partial: "/submissions/extended/forms/shareholding/total",
    locals: { submission: @submission }
.row
  .col-md-6#shares_held_outright
    = render partial: "/submissions/extended/forms/shareholding/held_outright"
  .col-md-6#shares_held_jointly
    = render partial: "/submissions/extended/forms/shareholding/held_jointly"

= render partial: "/submissions/extended/forms/shareholding/modals"

:javascript
  $('a.edit_shareholding_in_place').editable({
    success:
      function(e, editable) {
        var submission_id = $('#submission-id').html();
        $.ajax({  url: '/submissions/' + submission_id + '/shareholding' });
      }
  });
