Total shares allocated:
%strong= ShareHolding.new(submission).total

.hidden
  #submission-id= submission.id


/ "14 shares un-allocated"
/ and
/ "Invalid share allocation"
/ (if they've allocated too many shares)
