- shareholding = ShareHolding.new(submission)
%h2
  Total shares allocated:
  %strong= shareholding.total
  - if shareholding.status == :incomplete
    %small
      (#{shareholding.unallocated} shares un-allocated)
  - elsif shareholding.status == :excessive
    %small.red (Invalid share allocation)

  .hidden
    #submission-id= submission.id
