:plain
  $('##{ @modal_id }').modal('hide');
  $('body').removeClass('modal-open');
  $('.modal-backdrop').remove();

  $("#shareholding").html(
    '#{escape_javascript(
       render partial: "/submissions/extended/forms/shareholding/base")}'
  );
