:plain
  $('##{ @modal_id }').modal('hide');
  $('body').removeClass('modal-open');
  $('.modal-backdrop').remove();

  $("#shareholding").html(
    '#{escape_javascript(
       render partial: "/submissions/extended/forms/shareholding/base")}'
  );

  $('a.edit_shareholding_in_place').editable({
    success:
      function(e, editable) {
        var submission_id = $('#submission-id').html();
        $.ajax({  url: '/submissions/' + submission_id + '/shareholding' });
      }
  });
