:plain
  $('##{ @modal_id }').modal('hide');
  $('body').removeClass('modal-open');
  $('.modal-backdrop').remove();

  $("#shares_held_jointly").html(
    '#{escape_javascript(
       render partial: "/submissions/extended/forms/shareholding/held_jointly",
       locals: { submission: @submission })}'
  );

  $("#shareholding_modals").html(
    '#{escape_javascript(
       render partial: "/submissions/extended/forms/shareholding/modals")}'
  );

  $('a.edit_in_place').editable({
    success:
      function(e, editable) {
        var submission_id = $('#submission-id').html();
        $.ajax({  url: '/submissions/' + submission_id + '/shareholding' });
      }
  });
