#wrapper
  #login.animate.form
    %section.login_content
      %form
        %h1 Select Register
        %a.btn.btn-success.btn-block{href: "?activity=part_1"} Part 1: Pleasure & Commercial
        %a.btn.btn-info.btn-block{href: "?activity=part_4"} Part 2: Fishing
        %a.btn.btn-warning.btn-block{href: "?activity=part_3"} Part 3: Small Ships Register
        %a.btn.btn-danger.btn-block{href: "?activity=part_4"} Part 4: Bareboat
        .separator
        %p or receive payment
        %a.btn.btn-primary.btn-block{href: "?activity=finance"} Finance Team / Post Room
