.right_col{role: 'main'}
  .row
    .col-sm-9
      %h1{style: 'margin-top: 0px !important;'}
        My Tasks
    .col-sm-3
      .pull-right
        = link_to '/part-3/processing/new-registration', class: 'btn btn-primary' do
          %i.fa.fa-arrow-circle-right{style: 'font-size: 1.2em; font-weight: bold;'}
          Process Next Application

  .row
    .col-md-12
      .x_panel
        .x_title
          %h4 Applications to be processed
        %table.table.table-striped.table-hover
          %thead
            %tr
              %th Vessel
              %th Official No
              %th Applicant
              %th Job Type
              %th Target
              %th Payment
              %th Source
              %th
          %tbody
            - @registrations.each do |registration|
              %tr
                %td= link_to registration.vessel_info["name"], registration_path(registration)
                %td 104928
                %td= registration.correspondent_info["name"]
                %td New Registration
                %td 18/07 (10 days)
                %td
                  .i.fa.fa-check.green
                %td Online
                %td
                  %button.btn.btn-default.btn-xs{"data-target" => "#unclaim-work", "data-toggle" => "modal", :type => "button"}
                    Unclaim

  .row
    .col-md-12
      .x_panel
        .x_title
          %h4 Applications to be processed
        .x_content
          %p.text-center
            / = image_tag 'hs-huzzah-01.svg', width: '100px'
          %h2.text-center
            Tasks Complete
          %p.text-center
            Your task list is clear.
          %p.text-center
            = link_to 'Get More Work', '/part-3/tasks/unclaimed-tasks', class: 'btn btn-primary'
