= link_to "#email-content-add", class: "btn btn-primary btn-sm", "data-target" => "#email-content-add", "data-toggle" => "modal" do
  %i.fa.fa-plus
  Add Correspondence
= render partial: "submissions/modals/add_correspondence",
  locals: { submission: submission }
