- unless current_user.read_only?
  = link_to '#document-content-add', class: 'btn btn-primary btn-sm', "data-target" => "#document-content-add", "data-toggle" => "modal" do
    %i.fa.fa-plus
    Add Document
