.row.no-print#actions
  .col-md-12
    - if batch.closed?
      = link_to re_open_finance_batch_path(batch), method: :post,
        class: 'btn btn-primary btn-lg' do
        %i.fa.fa-check
        Re-Open Batch

      = link_to lock_finance_batch_path(batch), method: :post,
        class: 'btn btn-danger btn-lg pull-right' do
        %i.fa.fa-lock
        Lock Batch

    - elsif batch.open?
      = link_to close_finance_batch_path(batch), method: :post,
        class: 'btn btn-primary btn-lg' do
        %i.fa.fa-check
        End Batch

      = link_to new_finance_batch_payment_path(batch),
        class: 'btn btn-success btn-lg pull-right' do
        %i.fa.fa-plus
        New Fee Entry

