.row
  .col-md-9
    %h1{style: "margin-top: 0px !important;"}
      Finance: Payment Batches
  .col-md-3.pull-right
    = link_to "Start a Batch",
      finance_batches_path,
      method: :post,
      class: "btn btn-primary pull-right"
