.row
  .col-md-12
    .x_panel
      .x_title
        %h2 Application Details
        .clearfix
      .x_content
        %div{"data-example-id" => "togglable-tabs", :role => "tabpanel"}
          %ul#myTab.nav.nav-tabs.bar_tabs{:role => "tablist"}

            %li{:role => "presentation", class: "active"}
              %a#vessel-tab{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#vessel_tab", :role => "tab"} Vessel Details

            %li{:role => "presentation"}
              %a#engines-tab{"data-toggle" => "tab", :href => "#engines_tab", :role => "tab"} Engines

            %li{:role => "presentation"}
              %a#owners-tab{"data-toggle" => "tab", :href => "#owners_tab", :role => "tab"} Owners & Shareholding

            %li{:role => "presentation"}
              %a#mortgages-tab{"data-toggle" => "tab", :href => "#mortgages_tab", :role => "tab"} Mortgages

            %li{:role => "presentation"}
              %a#certificates-tab{"data-toggle" => "tab", :href => "#certificates_tab", :role => "tab"} Certificates

            %li{:role => "presentation"}
              %a#documents-tab{"data-toggle" => "tab", :href => "#documents_tab", :role => "tab"} Documents

            %li{:role => "presentation"}
              %a#agents-tab{"data-toggle" => "tab", :href => "#agents_tab", :role => "tab"} Agents & Representative Persons

          #myTabContent.tab-content

            #vessel_tab.tab-pane{class: "active", "aria-labelledby" => "vessel-tab", :role => "tabpanel"}
              = render partial: "submissions/extended/forms/vessel/form",
                locals: { disabled: !@submission.vessel_can_be_edited? }

            #engines_tab.tab-pane{"aria-labelledby" => "engines-tab", :role => "tabpanel"}
              WIP: Engines

            #owners_tab.tab-pane{"aria-labelledby" => "owners-tab", :role => "tabpanel"}
              = render partial: "submissions/extended/forms/owners/tab_content"

            #mortgages_tab.tab-pane{"aria-labelledby" => "mortgages-tab", :role => "tabpanel"}
              WIP: Mortgages

            #certificates_tab.tab-pane{"aria-labelledby" => "certificates-tab", :role => "tabpanel"}
              WIP: Certificates

            #documents_tab.tab-pane{"aria-labelledby" => "documents-tab", :role => "tabpanel"}
              WIP: Documents

            #agents_tab.tab-pane{"aria-labelledby" => "agents-tab", :role => "tabpanel"}
              WIP: Agents
