:plain
  $("#save-incomplete-application  .modal-content").html(
    '#{escape_javascript(
       render partial: "/submissions/extended/forms/saved",
       locals: { submission: @submission })}'
  );

  $('#save-incomplete-application #approve-extended-application').on('click', function () {
    $('#save-incomplete-application .modal-content').html(
      '#{escape_javascript(
        render partial: "/submissions/modals/approve/form",
        locals: { submission: @submission })}');

    $('.datetimepicker').datetimepicker({
      format: 'DD/MM/YYYY, h:mm:ss a'
    });
  });

  $("#save-incomplete-application").on('hidden.bs.modal', function () {
        window.location.reload();
    });
