:plain
  $(".modal-content").html(
    '#{escape_javascript(
       render partial: "/submissions/extended/forms/saved",
       locals: { submission: @submission })}'
  );

  $('#save-incomplete-application #approve-extended-application').on('click', function () {
    $('#save-incomplete-application .modal-content').html(
      '#{escape_javascript(
        render partial: "/submissions/modals/approve/form",
        locals: { submission: @submission })}');
  });
