- if payment
  %table.table.table-striped#payment
    %tbody
      %tr
        %td{width: "30%"} Worldpay Order Code
        %td
          %strong= payment.wp_order_code
      %tr
        %td Registered Country of Credit Card
        %td
          %strong= payment.wp_country
      %tr
        %td IP address of Submission
        %td
          %strong= payment.customer_ip
      %tr
        %td Amount
        %td
          %strong
            £
            = number_with_precision(payment.wp_amount.to_f / 100, precision: 2)
