@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker";
@import "bootstrap-datetimepicker";
@import "bootstrap-multiselect";
@import "font-awesome";
@import "select2";
@import "trix";

@import "vendor/normalize";
@import "vendor/nprogress";
@import "vendor/morris.min";
@import "vendor/custom";

@import "modals";
@import "reports";
@import "submission";
@import "typography";
