a.editable-address {
  text-decoration: none;
  border-bottom: dashed 1px #0088cc;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: rgb(0, 136, 204);
}
dl.address-fields {
  margin-top: 20px;
}
dl.address-fields dt {
  font-weight: normal;
  width: 80px;
  padding: 2px;
}
dl.address-fields dd {
  margin-left: 100px;
  padding: 2px;
}
a.upcase {
  text-transform: uppercase;
}
