trix-toolbar { display: none; }

.no-change {
  font-style: italic;
  color: #DD1144;
  text-decoration: none;
}
.field-error {
  border: 4px solid #DD1144;
}
input.radio_buttons.inline label.radio{
  display: inline-block;
}
.registration_status .label {
  font-size: 100% !important;
}
.name-validated {
  border: 1px solid green !important;
}

$has_changed_color: #d9534f;

.has-changed {
  input {
    background-color: $has_changed_color !important;
    color: #fff !important;
  }

  span.select2-selection {
    background-color: $has_changed_color !important;
    color: #fff !important;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    background-color: $has_changed_color !important;
    color: #fff !important;
  }

  .multiselect {
    background-color: $has_changed_color !important;
    color: #fff !important;
  }
}

tr.submission td {
  border-top: none !important;
  border-bottom: 1px solid #ddd;
}
