.no-change {
  font-style: italic;
  color: #DD1144;
  text-decoration: none;
}
.field-error {
  border: 4px solid #DD1144;
}
input.radio_buttons.inline label.radio{
  display: inline-block;
}
#registration_status .label {
  font-size: 100% !important;
}
.name-validated {
  border: 1px solid green !important;
}
.has-changed input {
  background-color: #E1ED93 !important;
}
.has-changed span.select2-selection {
  background-color: #E1ED93 !important;
}
.has-changed span.select2-selection {
  background-color: #E1ED93 !important;
}
.has-changed label {
  color: red;
}
