.upcase {
  text-transform: uppercase;
}
.soft-label {
  color: #aaaaaa;
}
.no-top-border {
  border-top: 0px #fff !important;
}
a.search-result {
  font-size: 1.2em;
}
.thick {
  border-top: 3px solid #888888;
  border-bottom: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  height: 0px !important;
  font-size: 1.2em;
  font-weight: bold;
}
.select2-container--default .select2-selection--single {
  border-radius: 0px !important;
  height: 34px !important;
  border: 1px solid #ccc !important;
}
.padded-checkbox .checkbox label {
  padding-left: 20px !important;
}
