%ul.nav.side-menu
  %li
    %a.toggle-tasks
      %i.fa.fa-list-ol
      Payments
      %span.fa.fa-chevron-down
    %ul.nav.child_menu{:style => "display: none"}
      %li= link_to "Record Payment", "/finance/payments/new"
      %li= link_to "Recent Payments", "/finance/payments"

