%p.hello
  Dear #{ @resource },

%p To activate your Waves account, or reset your password, click the link below:

%p= link_to "Activate your Waves account", edit_user_password_url(@resource, reset_password_token: @token)
