- unless DeprecableTask.new(submission.task).duplicates_certificate?
  - registration_date = RegistrationDate.for(submission, RegistrationDate.start_date(submission))
  - approval_f.object.registration_starts_at = registration_date.starts_at.to_s(:datetimepicker)
  - approval_f.object.registration_ends_at = registration_date.ends_at.to_s(:datetimepicker)
  - if DeprecableTask.new(submission.task).builds_registration?
    .row
      .col-md-12
        = approval_f.input :registration_starts_at,
          label: "Date and Time to take effect from",
          input_html: { class: "datetimepicker" }
    .row
      .col-md-12
        = approval_f.input :registration_ends_at,
          label: "Registration Expiry Date",
          input_html: { class: "datetimepicker" }
  - else
    .date-pickers-hidden
.row
  .col-md-12
    .form-group
      %label
        %input{name: "submission_approval[notification_attachments]", value: "registration_certificate", type: "checkbox", checked: true}
        Send a copy of the Certificate of Registry to the applicant
