- unless Task.new(submission.task).duplicates_certificate?
  .row
    .col-md-12
      - approval_f.object.registration_starts_at = Date.today
      = approval_f.input :registration_starts_at, label: "Date and Time to take effect from", input_html: { class: "datetimepicker" }
.row
  .col-md-12
    .form-group
      %label
        %input{name: "submission_approval[notification_attachments]", value: "registration_certificate", type: "checkbox"}
        Send a copy of the Certificate of Registry to the applicant
