.row
  .col-md-12
    - approval_f.object.closure_at = Time.now.to_s(:datetimepicker)
    = approval_f.input :closure_at, label: "Closure Date", input_html: { class: "datetimepicker" }

.row
  .col-md-12
    - approval_f.object.closure_reason = @submission.closure.reason.to_s.humanize
    = approval_f.input :closure_reason, as: :select, label: "Closure Reasons",
      collection: closure_reasons_collection,
      include_blank: false

.row
  .col-md-12
    - approval_f.object.supporting_info = @submission.closure.other_reason
    = approval_f.input :supporting_info, label: "Supporting Info"
