.row
  .col-md-12
    .form-group
      - approval_f.object.closure_at = Time.now.to_s(:datetimepicker)
      = approval_f.input :closure_at, label: "Closure Date", input_html: { class: "datetimepicker" }

.row
  .col-md-12
    .form-group
      = approval_f.input :closure_reason, as: :select, label: "Closure Reasons",
        collection: Submission::Approval::CLOSURE_REASONS,
        include_blank: false
