.row
  .col-md-12
    .form-group
      %label
        %input{name: "submission_approval[notification_attachments]", value: attachment, type: "checkbox", checked: true}
        Send a copy of the Transcript by email
