.row
  .col-sm-12
    %ol.breadcrumb
      %li.breadcrumb-item.active
        = link_to "Registered Vessels", vessels_path
      %li.breadcrumb-item
        = link_to @vessel.reg_no, vessel_path(@vessel)
.row
  .col-sm-6
    = render partial: "submissions/heading", locals: {submission: @submission}

= render partial: "submissions/tabs", locals: {submission: @submission}
