- document.assets.each do |asset|
  - if asset.file.exists?
    %i.fa.fa-file-pdf-o
    = link_to asset.file_file_name, azure_private_asset_url(asset), target: "_blank"
    = link_to vessel_asset_path(@vessel, asset),
      class: 'btn-link pull-right',
      method: :delete,
      data: { confirm: "Are you sure you want to permanently remove this file?" },
      style: 'color: red;' do
      %i.fa.fa-trash
      Remove file
    %br
  - else
    .red File removed by #{asset.removed_by} on #{asset.updated_at}
