%h2 Vessel Information
= submission_f.simple_fields_for :vessel do |vessel_f|
  %fieldset{ disabled: disabled }
    - vessel_f.object = submission_f.object.vessel
    .row
      .col-md-4
        = vessel_f.input :name,
          label: "Approved Vessel Name change",
          input_html: { class: "upcase" },
          disable: true

      .col-md-2
        = vessel_f.input :registration_type, label: "Registration Type"
