#flash
  - flash.each do |key, value|
    - next unless value.is_a? String # prevent annoyting devise timedout = true
    - if key == 'error'
      .alert.alert-error= h value
    - else
      .alert.alert-info= h value
