%footer#footer.group.js-footer{:role => "contentinfo"}
  .footer-wrapper
    .footer-meta
      .footer-meta-inner
        .open-government-licence
          %p.logo
            %a{:href => "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/", :rel => "license"}= t("copyright.license")
          %p= t("copyright.notice").html_safe
      .copyright
        %a{:href => "http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/"} © Crown copyright
