<footer class="group js-footer" id="footer" role="contentinfo">
  <div class="footer-wrapper">
    <div class="footer-meta">
      <div class="footer-meta-inner">
        <div class="open-government-licence">
          <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license"><%= t("copyright.license") %></a></p>
          <p><%= t("copyright.notice").html_safe %></p>
        </div>
      </div>

      <div class="copyright">
        <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
