.top_nav
  .nav_menu
    %nav{:role => "navigation"}
      .nav.toggle
        %a#menu_toggle
          %i.fa.fa-bars

      %ul.nav.navbar-nav.navbar-right
        %li.dropdown

          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown"}
            Logged in as #{current_user}
            %span.fa.fa-angle-down

          %ul.dropdown-menu.pull-right
            %li
              = link_to "Gov UK", ENV['GOVUK_HOST'], target: 'blank'
            %li
              = link_to sign_out_path, method: :delete, id: "logout" do
                %i.fa.fa-sign-out.pull-right
                Log Out
  .clearfix
