!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= title || "MCA"
    = stylesheet_link_tag "application"

  %body{style: 'background:#F7F7F7;'}
    = yield
  = render "javascript"
