Dear #{ @name },
\
= yield
\
- if @application_approval
  We value your opinions and would be greatful if you could spend a couple of moments giving us some feedback using the link below.
  \
  http://www.smartsurvey.co.uk/s/140065DZMRS/
\
Kind regards,
\
Registry of Shipping and Seamen,
Anchor Court,
Keen Road,
Cardiff
CF24 5JW

