Dear #{ @name },
\
= yield
- if @additional_info
  \
  Additional information:
  = @additional_info
- if @contact_us_on
  \
  If you have any queries, please contact us on #{ @contact_us_on }.
\
Kind regards,
Small Ships Register
\
Registry of Shipping and Seamen,
Anchor Court,
Keen Road,
Cardiff
CF24 5JW
