Dear #{ @name },
\
= yield
- if @additional_info
  \
  Additional information:
  = @additional_info
\
Kind regards,
Small Ships Register
\
Registry of Shipping and Seamen,
Anchor Court,
Keen Road,
Cardiff
CF24 5JW
